<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 驼峰式命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--配置log4j2-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
</configuration>

